.nav-pills > li.active >a{
	color:white;
    background-color:black;
}

.nav-pills > li.active >a:hover{
	color:black;
    background-color:#eeeeee;
}


.nav-tabs > li.active >a{
	color:black;
    background-color:white;
}

.nav-tabs > li.active >a:hover{
	color:white;
    background-color:#000000;
}


body { 
	background: #000000; 
}

@font-face {
    font-family: myFirstFont;
    src: url(Cola.otf);
}

customFont {
	font-family: myFirstFont;
	font-size: 100px;
}

classyFontIndex{
	font-family: myFirstFont;
	font-size: 21px;
}

@font-face {
    font-family: ClassyFont;
    src: url(Liberty.ttf);
}

classyFontBody{
	font-family: ClassyFont;
	font-size: 30px;
}

classyFontIndex{
	font-family: ClassyFont;
	font-size: 23px;
}

classyFontPost{
	font-family: ClassyFont;
	font-size: 18px;
}

#content img{
	float: left;
}

/* Contact form */
form label {
  font-family: classyFontIndex;
  display: block;
  font-size: 20px;
  padding: 5px 0;
}
 
form input#name,
form input#email,
form input#subject {
   width: 150px;
   background-color: #fafafa;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   border: 1px solid #cccccc;
   padding: 5px;
}
 
form textarea#message {
   width: 200px;
   background-color: #fafafa;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   border: 1px solid #cccccc;
   padding: 5px;
}
 
form input#submit {
  width: 80px;
  display: block;
  padding: 10px 15px;
  font-family: classyFontIndex;
  background:white;
  color:black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #eeeeee;
  font-size: 20px;
}

 
form input#submit:hover{
  cursor: pointer;
  font-family: classyFontIndex;
  background:black;
  color:white;
}

.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.div_form{
	float:left;
}

#linkedin {
	background: url(/static/linkedin.png) no-repeat;
	height: 81px;
	width: 300px;
}

#linkedin:hover{
	background: url(/static/linkedin-i.png) no-repeat;
}

#github {
	background: url(/static/github.png) no-repeat;
	height: 78px;
	width: 300px;
}

#github:hover{
	background: url(/static/github-i.png) no-repeat;
}




