{% extends "base.html" %}
{% block content %}
    
	<span style="display:block; height: 100px;"></span>
			
	<div class="container">
			<div class="jumbotron">
				<div class="text-center">
					<classyFontBody>
					<h2>About</h2>
					</classyFontBody>
				</div>
					
					<span style="display:block; height: 15px;"></span>
					<div style="text-align:justify">
					<classyFontBody>
						<p>I am a graduate student at <a href="http://www.utdallas.edu" style="color: black" target="_blank"><b>The University of Texas at Dallas</b>.</a> I specialize in <b>Networking and Telecommunications</b>.</p>
						<p>I can code in languages such as Java, Python and C/C++. I have worked with academic projects which involve the rigourous use of these languages. But my personal favourite in them is <b>Python</b> due to the fact that more things can be achieved in less lines of code and is less verbose. </p> 
						<p>I have experience is using public clouds such as AWS, Heroku in my development projects. I also have hands on operations experience in deploying <b>OpenStack</b> as I had worked on integrating <b>Network Function Virtualization (NFV)</b> manager on OpenStack during my Intership at Tata. I crave to work in anything related to Cloud back-ends, core networking, DevOps which deal with massive scalability.</p>
						<p>I think in term of scalability and ever time I develop a product, I ask myself "Does it scale?"</p>
					</classyFontBody>
					<span style="display:block; height: 10px;"></span>
					<div align="center">
							<img src="/static/all.png" alt="HTML5 Icon">
					</div>
						<span style="display:block; height: 10px;"></span>
					</div>
					
					
			</div><!-- /.container -->
	</div>
{% endblock %}

