{% extends "base.html" %}
{% block content %}

<!-- <span style="display:block; height: 100px;"></span> -->

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <classyFontBody>
                <h2>About</h2>
            </classyFontBody>
        </div>
        <div align="center">
            <img class="roundrect" src="/static/image.JPG" alt="HTML5 Icon">
        </div>
        <span style="display:block; height: 15px;"></span>
        <div style="text-align:center">
            <classyFontBody>
                <p> I am a Software Engineer and I love to work as a developer
                    in areas mostly related to <b>distributed systems, scalable
                        web services, cloud infrastructure</b> and anything <b>Open
                        Source</b>.</p>
                <p> I am currently working at Intel Corporation in the <a
                        href="https://01.org/about" style="color: black"
                        target="_blank"><b>Open Source Technology Group</b></a>
                    contributing to open source cloud projects</p>
            </classyFontBody>
            <span style="display:block; height: 10px;"></span>
            <span style="display:block; height: 10px;"></span>
        </div>
    </div>
</div>

<style>
        .roundrect {
        border-radius: 15px;
        }

</style>

{% endblock %}
