<html>
  <head>
    <title> Shashank's Website </title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27970776-2', 'auto');
  ga('send', 'pageview');

</script>


  </head>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  
<div class="centered-pills">
  	<ul class="nav nav-pills">
	    <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span>    <classyFontIndex>Home<classyFontIndex></a></li>
		<li class="active"><a href="/about"><span class="glyphicon glyphicon-user"></span>    <classyFontIndex>About<classyFontIndex></a></li>
		<li class="active"><a href="/posts1/"><span class="glyphicon glyphicon-edit"></span>    <classyFontIndex>Blog<classyFontIndex></a></li>
		<li class="active"><a href="/academics"><span class="glyphicon glyphicon-education"></span>    <classyFontIndex>Academics<classyFontIndex></a></li>
		<li class="active"><a href="/projects_view"><span class="glyphicon glyphicon-list-alt"></span>    <classyFontIndex>Projects<classyFontIndex></a></li>
		<li class="active"><a href="/resume"><span class="glyphicon glyphicon-file"></span>    <classyFontIndex>Resume<classyFontIndex></a></li>
		<!-- <li class="active"><a href="/hobby"><span class="glyphicon glyphicon-star-empty"></span>    <classyFontIndex>Hobbies<classyFontIndex></a></li> -->
		<li class="active"><a href="/contact"><span class="glyphicon glyphicon-envelope"></span>    <classyFontIndex>Contact<classyFontIndex></a></li>
	</ul>
</div>   
<body>
{% block content %}{% endblock %}
</body>
</html>
