{% extends "base.html" %}
{% block content %}


<span style="display:block; height: 50px;"></span>

<div align="center">
    <div class="container">
            <img class="media-object" src="/static/image.JPG" alt="HTML5 Icon">
    </div>
</div>

<span style="display:block; height: 25px;"></span>

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <classyFontBody>
                <h2>Welcome!</h2>
                <p>I am Shashank. This is a webpage which I built to show you my
                    skills and interests.</p>
                <p>Explore around to find out more about me.</p>
            </classyFontBody>
        </div>
    </div>
</div>


{% endblock %}
