{% extends "projects.html" %}

{% block content1 %}

<classyFontIndex>
    <h3 id="s1">Streaming Media content from Amazon Web Services Cloud:</h3>
    <div align="left">
        <b>Overview:</b>
        <p>
            This Project was done as a part of <b>Telecommunications Software Design</b> course at UTD during Fall 2015.
        </p>
        <p>
            The project was aimed to mimic the combined working of Netflix and Chromecast wherein the user is provided
            a storage space on the cloud to store media and a media player to play the stored media.
        </p>

        <b>Languages and Tools:</b>
        <p>
        <ul>
            <li>Java Jersey RESTful Web services</li>
            <li>AWS EC2 Instance</li>
            <li>AWS S3 Block Storage</li>
            <li>Android SDK</li>
            <li>JSONs</li>
            <li>Jetty HTTP2 Server</li>
            <li>VLCj</li>
        </ul>
        </p>

        <b>Working:</b>
        <p>
        <div align="center">
            <img src="/static/awscloud.png">
        </div>
        <ul>
            <li>
                The server side contains the media files and REST API. The media is contained in an AWS S3 object
                storage.
                The contents of this object storage are user's video files. The contents are looked by the AWS SDK and
                it
                is returned to the user's android app by a REST API. Upon doing a HTTP GET request to this API endpoint,
                a JSON containing list of media is returned. The REST API is developed using Jersey RESTful Webservices
                and deployed in a Jetty HTTP2 server on an EC2 instance.
            </li>
            <li>
                An android app is used to get the media content available on the S3 storage. This is done by making an
                HTTP GET request to REST API present on the EC2 Instance. Once the app receives the JSON, it parses it
                and displays the media available to be played on the video player. It also provides capabilities to
                Play, Rewind and Forward the media.
            </li>
            <li>
                The video player is basically a VLC media player embedded in Java Swings UI block. A REST API to this player
                is provided so that it accepts commands from the android app. The REST API receives HTTP GET calls from the
                android app and based on the query parameters passed, the VLCj player performs specific tasks such as playing
                a specific media from the S3 object, pausing, forwarding etc.
            </li>
        </ul>
        </p>
    </div>


</classyFontIndex>


{% endblock %}