{% extends "projects.html" %}

{% block content1 %}

				<classyFontIndex>
				<h3 id="s1">Simulated Networks and obtained Performance Metrics.</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a part of <b>Performance of Computer Networks</b> course at UTD during Fall 2014.
					</p>
					
					<b>Languages and Tools:</b>
					<p>
						<ul>
							<li>C++</li>
							<li>Netbeans IDE</li>
						</ul>
					</p>
					
					<b>Implementation:</b>
					<p>
					
						<ul>
							<li>
								<b> Event Driven Simulation of an Open Queuing Network. </b>
								An open queuing network was simulated wherein packets/customers could come from outside the network or served again. By the end of the simulation, various performance metrics like throughput, expected waiting time etc. in the system are calculated. By analyzing the metrics, a general understanding of how packets/customers are being served in the system is known.  
							</li>
							<li>
								<b> Event Driven Simulation of a Web Server modeled as an M|M|2|4 Queuing System. </b>
								The performance metrics for a finite capacity multiple server system,at various conditions, were obtained. These metrics were later used to analyse the network performance so that the reasons for that particular performance is known.  
							</li>
						</ul>
					</p>
					
					
				</div>
				</classyFontIndex>
{% endblock %}