{% extends "projects.html" %}

{% block content1 %}
<classyFontIndex>
    <h3 id="s1">Python Flask and Bootstrap based Webpage running on Amazon EC2
        Instance:</h3>
    <div align="left">
        <b>Overview:</b>

        <p>
            As a spare time project, this website was built to show my skills.
        </p>

        <b>Languages and Tools:</b>
        <p>
        <ul>
            <li>Amazon Web Services (AWS) EC2</li>
            <li>Python Flask micro framework.</li>
            <li>HTML/CSS Bootstrap</li>
            <li>WSGI in Apache</li>
        </ul>
        </p>

        <b>Deployment:</b>

        <p>
            The website was coded and deployed on an AWS EC2 instance. An Apache
            server with WSGI mod is setup to run Python Flask in Virtual
            Environment and a domain name is set. This was built during the
            Summer of 2015 as a side project.
        </p>


    </div>
</classyFontIndex>
{% endblock %}