{% extends "projects.html" %}

{% block content1 %}

<classyFontIndex>
	
	<h3  id="s1">Deploying OpenVNFManager on OpenStack:</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a part of my Internship at <a href="http://www.tcs.com" style="color: black" target="_blank"><b>Tata Consultancy Services</b></a> during Summer 2015.
					</p>
					
					<p>
						Integrated various software components of OpenVNFManager on OpenStack and turned up the vIMS VoIP service in OpenStack Tenant network. 
					</p>
						
					<b>Tools:</b>
					<p>
						<ul>
							<li>OpenStack</li>
							<li>Red Hat Enterprise Linux</li>
						</ul>
					</p>
					
					<b>Deployment:</b>
					
					<p>
						<ul>
							<li>Installed Red Hat Enterprise Linux on Intel Xeon servers.</li>
							<li>Deployed multi node OpenStack Juno cloud on the servers.</li>
							<li>Integrated NFV Manager service similar to default services such as Neutron, Nova onto OpenStack.</li>
							<li>Orchestrated vIMS Project Clearwater VMs on a tenant. On completion, VoIP calls could be made between two softphones from one network to another inside the OpenStack tenant.</li>
						</ul>
					</p>
				</div>

</classyFontIndex>

{% endblock %}