{% extends "projects.html" %}

{% block content1 %}

				<classyFontIndex>
				<h3 id="s1">Internet of Things: Home Surveillance using Raspberry Pi:</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a part of <b>Advanced Computer Networks</b> course at UTD during Spring 2015.
					</p>
					<p>
						With Internet of Things hanging around as the next big revolution, this project work revolves on the same grounds. With access to the door lock on your phone through internet while you are away from home or when you cannot reach the door and need to know who is at your doorstep before you can open it remotely, this setup would do wonders. Making use of a micro-computer running at 1GHz called Raspberry Pi and a camera attached to it, this little unit is meant to be part of every household in the future.
					</p>
					
					<b>Languages and Tools:</b>
					<p>
						<ul>
							<li>Android SDK</li>
							<li>Parse IoT RESTful API</li>
							<li>Ubuntu VM in University Cloud</li>
							<li>Java Sockets</li>
							<li>Raspberry Pi</li>
							<li>Python Raspberry GPIO Scripts</li>
						</ul>
					</p>
					
					<b>Working:</b>
					<p>
						<div align="center">
							<img src="/static/iot.png">
						</div>
						<ul>
							<li>
								The Raspberry Pi keeps check at one of its GPIO pins for a change in voltage level. When a change occurs, the Raspberry Pi will go a HTTP POST to api.parse.com, the Parse cloud will then notify the registered Android app in which the Parse libaray in the app is running as a Async task. 	This way whenever a door bell connected to Raspberry Pi is pressed, a notification is seen on the users app.
							</li>
							<li>
								The Rapberry Pi with its Pi camera streams video over HTTP to a Ubuntu Instance on the Univerity Cloud. The video can then be accesses remotely by logging to this instance. 
							</li>
							<li>
								The URL of the Ubuntu Instance is embedded in the registered Users app so that the live stream from the Raspberry Pi can be viewed on the phone.  
							</li>
							<li>
								The user can send commands to the Rapberry Pi to open the door lock by clicking the buttoms on the android app. The connnectivity is achieved by Java Sockets through the Ubuntu Instance.  
							</li>
							<li>
								Also, when the door lock is set to open mode, a audio message is played through a speaker to whoever pressed the door bell. 
							</li>
							
						</ul>
					</p>
				</div>
				
				
				
				</classyFontIndex>
				
{% endblock %}