{% extends "base.html" %}
{% block content %}
    
	 <!-- <span style="display:block; height: 100px;"></span> -->
			
	<div class="container">
			<div class="jumbotron">
				<div class="text-center">
					<classyFontBody>
					<h2>About</h2>
					</classyFontBody>
				</div>
					<div align="center">
						<img class="roundrect" src="/static/image.JPG" alt="HTML5 Icon">
					</div>
					<span style="display:block; height: 15px;"></span>
					<div style="text-align:center">
					<classyFontBody>
						<p> I am a recent graduate from UT Dallas.</p>
						<p> I am currently working for Intel Corp. in the <a href="https://osic.org/" style="color: black" target="_blank"><b>OpenStack Innovation Center</b></a> located inside Rackspace in San Antonio, TX</p>
						<p> I contribute to the Neutron project of OpenStack as a developer.</p>
					</classyFontBody>
					<span style="display:block; height: 10px;"></span>
						<span style="display:block; height: 10px;"></span>
					</div>
			</div>
	</div>

	<style>
	.roundrect {
	border-radius: 15px;
	}
	</style>

{% endblock %}

