{% extends "base.html" %}
{% block content %}
    <span style="display:block; height: 20px;"></span>
	
	<div class="container">
			<div class="jumbotron">
				<div class="text-center">
					<classyFontBody>
						<h2>Academics</h2>
					</classyFontBody>	
				</div>	
				
				<classyFontIndex>
				<div align="left">
					<b>Masters</b>
				
					<p>
						<ul>
							<li>Currently pursuing Master's degree in Telecommunications at the University of Texas at Dallas</li>
							<li>Since the course is Interdisciplinary between Computer Science and Electrical Engineering, I have a good understanding of topics from both streams. </li>
							<li>Some of the courses which I took during my tenure at UTD are;
							<ul>
								<li>
									<b>Advanced Computer Networks</b>
									<p>
									Concepts such as TCP/IP, SCTP, Broadcast, Routing, Router Design, MPLS, QoS, Mobile IP, P2P systems were learnt.
									</p>
								</li>
								<li>
									<b>Software Defined Networks</b>
									<p>
									Learnt about the concepts such as disruption caused by SDN in industry, SDN controllers, OpenFlow protocol, Use cases.
									</p>
								</li>
								<li>
									<b>Design and Analysis of Computer Algorithms</b>
									<p>
									Course involved the study of efficient algorithms for various computational problems. Algorithm design techniques.
									Sorting and manipulation of data structures, graphs. Complexity of
									algorithms, lower bounds, NP-Completeness.
									</p>
								</li>
								<li>
									<b>Performance of Computer Networks</b>
									<p>
									Learnt about Queuing models and physical origin of random variables used in queuing models, various important cases of the M/M/m/N queuing system, The M/G/1 queuing system, product form solutions of open and closed queuing networks, Discrete time queuing systems. Also, programmed simulations of queuing systems.
									</p>
								</li>
								<li>
									<b>Telecommunications Software Design</b>
									<p>
									Course main focus was on understanding fundamental challenges in telecommunication software systems such as concurrency
									issues and real-time constraints, protocols design and design for distributed systems.
									</p>
								</li>
								<li>
									<b>Database Design</b>
									<p>
									Learnt about Database system architecture, conceptual database models, relational and object-oriented databases, database system implementation, query processing and optimization, transaction processing concepts, concurrency, and recovery, security. 
									</p>
								</li>
								<li>
									<b>Algorithms and Data Structures</b>
									<p>
									Studied about Formal specifications and representation of lists, arrays, trees, graphs, multilinked structures, strings and recursive pattern structures, Analysis of associated algorithms, Sorting and searching, file structures. 
									</p>
								</li>
								<li>
									<b>Random Processes</b>
									<p>
									Learnt about Random processes concepts, Stationarity and independence, Auto-correlation and cross-correlation functions, spectral characteristics, linear systems with random inputs and Special topics with applications.
									</p>
								</li>
							</li>
							</ul>
						</ul>
					</p>
				
					<b>Bachelors</b>
					
					<p>
						<ul>
							<li>
							Completed my Bachelors in Telecommunications Engineering with distinction from Dr.Ambedkar Insitute of Technology, affiliated to Visveshvaraya Technological University, Bangalore, India
							</li>
						</ul>
					</p>

					<b>Independent Study</b>
					<p>
						<ul>
							<li>
							Completed ‘<b>Cloud Networking</b>’ course offered by the University of Illinois at Urbana-Champaign through Coursera.
							The coursework included the study of Physical data center networks, Network virtualization, Software defined networking, Inter-data center networks.
							Certificate can be verified at <a href="https://www.coursera.org/account/accomplishments/certificate/QLKKXFSHMU" style="color: black" target="_blank"><u><b>www.coursera.org/verify/QLKKXFSHMU</b></u></a>
							</li>
						</ul>
					</p>
				</div>
				</classyFontIndex>
			</div>
	</div>
	
{% endblock %}