{% extends "projects.html" %}

{% block content1 %}

				<classyFontIndex>
				<h3 id="s1">Dockerized Google DeepDream as a Cloud service using Python Flask:</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a self-learning side project during Spring 2016 to learn about Docker containers.
					</p>
					<p>
                        <a href="https://github.com/google/deepdream" style="color: black" target="_blank"><b>DeepDream</b></a> is a computer vision program created by Google which uses a convolutional neural network
                        to find and enhance patterns in images. It looks for patterns in images and it writes back the
                        patterns it finds back on top to the processed image.
					</p>

                    <p>
                        Here, the core DeepDream algorithm is compiled into a Docker image. A web API to this Docker image was developed in this project.
                    </p>

					<b>Languages and Tools:</b>
					<p>
						<ul>
							<li>Docker Container</li>
							<li>Python Flask</li>
							<li>Python Queues and Threads</li>
						</ul>
					</p>

					<b>Working:</b>
					<p>
						<div align="center">
							<img src="/static/docker.png">
						</div>
						<ul>
							<li>
                                The Docker image is based on the compiled image uploaded <a href="https://hub.docker.com/r/shank7485/deep-dream-with-flask/" style="color: black" target="_blank"><u>here</u>.</a>
                                The procedure to get the system up and running is show in this GitHub Link:
                                <a href="https://github.com/shank7485/Dockerized-DeepDream-with-Flask" style="color: black" target="_blank"><u>https://github.com/shank7485/Dockerized-DeepDream-with-Flask</u></a>
							</li>
							<li>
								Setup when followed as shown in the GitHub link spins up 3 containers. Each container
                                is assigned a particular work. Also, all the container are mounted on the same volume directory.
							</li>
                            <li>
                                Deepdream-uploader container is where the Flask API is running. It renders a HTML
                                page to the user to upload images into the deepdream-compute container. Each time an upload is made,
                                the users email ID is taken and hashed to a JSON file. This is used for identifying an image with
                                the user who uploaded it.
                            </li>
                            <li>
                                Deepdream-compute container is where the actual processing of the images is done.
                                The process of "deepdreaming" is CPU intensive and hence takes some time. Therefore, queues
                                are used to make user requests arrive without getting new user requests from getting blocked.
                            </li>
                            <li>
                                Once the computing is done, the deepdream-compute outputs the image on to a directory.
                                This directory is constantly looked up by the deepdream-emailer container. Whenever a new
                                processed image is placed in this directory, it looks for the Email ID from the JSON file
                                written by the Deepdream-uploader and emails the processed image to the respective user.
                            </li>
						</ul>
					</p>
				</div>



				</classyFontIndex>

{% endblock %}