{% extends "projects.html" %}

{% block content1 %}
				<classyFontIndex>
				<h3 id="s1">Designed a Database for a Flea Market.</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a part of <b>Database Design</b> course at UTD during Spring 2015.
					</p>
					
					<p>
						The project was mainly aimed to design and implement a database to be used in a Flea Market to maintain the stall spaces.
					</p>
					
					<b>Languages and Tools:</b>
					<p>
						<ul>
							<li>Oracle DB</li>
							<li>SQL</li>
						</ul>
					</p>
					
					<b>Working:</b>
					<p>
						<ul>
							<li>
								This database is mainly used by the Managers of a Flea Market to maintain the stall’s rent, information of renter, objects sold in the stalls, maintenance staff etc.
							</li>
							
							<li>
								Analyzed the Data requirements.
							</li>
							
							<li>
								Formed ER Diagrams and mapped it into Relations (Tables) and assigned various Primary, Foreign keys.
							</li>
							
							<li>
								Normalized the Relations to 3NF form.
							</li>
							
							<li>
								Created the relations on Oracle DB using SQL CREATE statements.
							</li>
							
							
							<li>
								Populated the Relations with example records using SQL INSERT statements.
							</li>
							
							<li>
								Various updates to this database can be done using SQL UPDATE statements.
							</li>
							
						</ul>
					</p>
				</div>
				</classyFontIndex>
{% endblock %}