{% extends "projects.html" %}

{% block content1 %}

				<classyFontIndex>
				<h3 id="s1">Simple APIs on Heroku cloud platform:</h3>
				<div align="left">
					<b>Overview:</b>
					<p>
						This Project was done as a self-learning side project during Spring 2016 to learn about Heroku Cloud platform.
					</p>
					<p>
                        Simple APIs such as Uber cost estimate using address, NxN Matrix solver using Gaussian approximation is hosted
                        on Heroku cloud platform.
					</p>

					<b>Languages and Tools:</b>
					<p>
						<ul>
							<li>Heroku Cloud</li>
							<li>Python Flask</li>
							<li>Uber API</li>
                            <li>Google Geo locate API</li>
						</ul>
					</p>

					<b>Working:</b>
					<p>
                        To know more, head to <a href="https://shashankkumar.herokuapp.com/" style="color: black" target="_blank"><u><b>https://shashankkumar.herokuapp.com/</b></u></a>
					</p>
				</div>



				</classyFontIndex>

{% endblock %}